<h1>
  HOME
</h2>

<% if user_signed_in? %>
 <% if current_user %>
   <%= link_to('logout', destroy_user_session_path, :method => :delete) %>
 <% else %>
   <%= link_to('register', new_registration_path(:user)) %>
   <%= link_to('login', new_session_path(:user)) %>
<% end %>
